{# src/login/firstBundle/Resources/views/Estaticas/index.html.twig #}
{% extends 'LoginfirstBundle::layout.html.twig' %}
{% block content2 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="text-align:center;">
              
                <img id="img_logoQS" src="{{asset('bundles/loginfirst/Imagenes/quienes-somos.png')}}" alt="!"  />
            
            </div>
            <div class="col-sm-8">
                  <div class="Titulo">
                    Quienes Somos
                </div>
                   <hr>
                 <div class="Texto">
                    Gamedasoft es una firma de profesionales altamente calificados en desarrollo de sistemas,asi como una amplia experiencia en análisis de procesos, proyectos e implementación de soluciones.
                </div>
            <hr>
            
            </div>
        </div>
        
        
        
        
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                
            </div>
            <div class="col-sm-12 col-lg-8 ">
               
            </div>
    
        </div>
        
    </div>
{%  endblock%}
